<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <!-- 读取spring激活的profile -->
    <springProperty scope="context" name="activeProfile" source="spring.profiles.active"/>
    <!-- 引入Spring Boot默认配置 -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <!-- 读取application.yml中的属性 -->
    <springProperty scope="context" name="appName" source="spring.application.name" defaultValue="app"/>
    <!-- 自定义变量 -->
    <property name="LOG_PATH" value="./logs"/>
    <property name="LOG_PATTERN" value="%blue(%d{HH:mm:ss.SSS}) %cyan([%thread]) [%-5level]  %boldGreen(%logger{30}) : %msg %n"/>

    <!-- Appender配置 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- dev环境：业务包开启DEBUG，mapper打印SQL -->
    <springProfile name="dev">
        <!-- 业务包开启DEBUG：自己代码log.debug()可以输出 -->
        <logger name="com.wsw.fitnesssystem" level="DEBUG"/>

        <!-- auth 上下文 mapper -->
        <logger name="com.wsw.fitnesssystem.auth.infrastructure.persistence.db.mapper"
                level="DEBUG" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>

        <!-- handle_excel 上下文 mapper -->
        <logger name="com.wsw.fitnesssystem.handle_excel.infrastructure.persistence.db.mapper"
                level="DEBUG" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>
    </springProfile>

    <!-- root级别 -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>